<br>
<div class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header navbar-left">
      <a class="navbar-brand">{{title}}</a>



    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/home" routerLinkActive="active"><button class="btn btn-default btn-sm">HOME</button></a></li>
        <li><a routerLink="/addvehicle" routerLinkActive="active"><button class="btn btn-default btn-sm">ADD VEHICLE</button></a></li>
        <li><a routerLink="/addroute" routerLinkActive="active"><button class="btn btn-default btn-sm">ADD ROUTE</button></a></li>

        <li> <a routerLink="/vehicleInformation" routerLinkActive="active"><button class="btn btn-default btn-sm">VEHICLE DATABASE</button></a></li>
        <li> <a routerLink="/routeInformation" routerLinkActive="active"><button class="btn btn-default btn-sm">ROUTE DATABASE</button></a></li>
        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            DATABASE
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a routerLink="/vehicleInformation" routerLinkActive="active">Vehicle Information</a>
              <a routerLink="/routeInformation" routerLinkActive="active">Route Information</a>
            </li>
          </ul>
        </li>-->
      </ul>

      
      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <a>
              Welcome User  ...
            </a>
          </li>


         
        </ul>
      </div>


    </div>
  </div>
</div>
<router-outlet></router-outlet>